[2015-06-24 11:30] mdorman opened #1 "Handling of the :host parameter doesn't seem to work properly."
First, let me say I was very excited to see this package---my .authinfo.gpg file for gnus was the last thing I wasn't managing using password-store.

However, I seem to have run into a small incompatibility with gnus.

If I `(setq auth-source-debug 'trivia)`, and start gnus, it fails to login to my nnimap source.  The output from auth-source is:

    auth-source-search: found 4 backends matching (

[2015-06-24 11:37] NicolasPetton commented on #1
Michael Alan Dorman <notifications@github.com> writes:

Glad you like it!

Thank you for reporting it, I will have a look.  It's very well
possible, as Damien and I use other MUA than Gnus.

[2015-06-24 11:47] DamienCassou commented on #1
Thanks for letting us know. While you and @NicolasPetton are experimenting, I suggest setting `auth-source-do-cache` to `nil` to avoid having caching problems (and `pass` is so fast I decided to disable caching completely).

Maybe @tzz (author of `auth-sources`) can help you.

[2015-06-25 17:35] svend opened #3 "autoload for auth-pass-enable"
Would it make sense to add an autoload for auth-pass-enable?

[2015-06-26 08:58] DamienCassou commented on #3
Yes. Please send a pull request.

[2015-06-27 12:45] DamienCassou commented on #3
Fixed

[2015-06-27 12:45] #3 closed

[2015-06-29 04:57] tzz commented on #1
Sorry, I'm not sure what I can do to help? @DamienCassou it seems that the problem is only on the `auth-password-store` side?  Or is it something I can remedy on the `auth-source` side?

[2015-06-30 10:17] mdorman commented on #1
I tend to agree that this is an `auth-password-store` thing to handle.  Thanks, though, Ted.

[2015-06-30 16:20] #1 closed

[2015-06-30 16:21] NicolasPetton commented on #1
@mdorman Can you check if 3b4a1f9 fixed the issue for you?

[2015-07-03 11:19] mdorman commented on #1
It would appear to be working fine.

[2015-07-03 11:51] NicolasPetton commented on #1
Michael Alan Dorman <notifications@github.com> writes:

Cool.  Now we need a proper fix for handling several host names instead
of just taking the first non-nil one.

[2015-08-28 15:38] mdorman opened #7 "Perhaps tag a release?"
This has seemed fairly stable for a couple of months now---perhaps tagging a release would be appropriate; melpa-stable would then pick that up automatically, and people could use that rather than always tracking HEAD?

[2015-08-29 11:56] DamienCassou commented on #7
done, thanks for the remainder.

[2016-01-02 18:10] divansantana opened #11 "gpg-agent high cpu spike during auth-password-store lookup"
Hi,

Firstly, I find this package a huge help to me and I'm sure to others. It's really awesome - so thanks a lot.

I'm new to Emacs and I've got this to work nicely though I notice a bug or issue perhaps with my configuration.

When I attempt a login into a service from emacs, the auth lookup queries my password store, during this time, Emacs freezes for quite a few seconds(10+) and my CPU shows

[2016-01-03 14:57] DamienCassou commented on #11
I confirm `auth-password-store` is sometimes very slow. What do you have in your `*Messages*` buffer (accessible with `C-h e`) regarding `auth-password-store`? Le code important est sur https://github.com/DamienCassou/auth-password-store/blob/master/auth-password-store.el#L130.

[2016-01-04 04:20] divansantana commented on #11
Nothing useful in `*Messages*` it seems
[code]

To me it looks like auth-password-store decrypts each and every pass listed in the password store in reverse order from z-a before selecting the appropriate entry which is causing it to be slow and hang.

Would be better if it decrypted just the appropriate entries, based on destination hostname.

[2016-01-04 05:54] DamienCassou commented on #11
Please evaluate `(setq auth-source-debug t)` and check the `*Messages*` buffer again

[2016-01-05 08:12] divansantana commented on #11
Ah
[code]
My entry is called `wiki.mywiki.co.za.gpg`. It seems to want it to be called `https://wiki.mywiki.co.za/mediawiki/.gpg` which I think is not possible due to the `/` in the name.

[2016-01-05 13:45] DamienCassou commented on #11
I have the same problem with some Emacs extensions. I thought about 2 potential solutions but didn't try them:

1. add a new element to `auth-source' and improve `auth-password-store` to let users specify different password-store directories that way: `(setq auth-sources '((password-store "~/.password-store/emacs") (password-store "~/.password-store"))`. In `~/.password-store/emacs`, you put the m

[2016-01-06 08:55] divansantana commented on #11
Those sound like workable options.

What about an option

3. `auth-password-store` does a check and strips any invalid hosts like `https://wiki.mywiki.co.za/mediawiki` and corrects it to `wiki.mywiki.co.za` before doing the lookup?

That way would require a fix in mutliple emacs extensions (mediawiki, ERC etc)

[2016-01-06 12:32] DamienCassou commented on #11
I guess you meant *would not require a fix*. I agree that your solution is by far the simplest. Even though you are *new to Emacs*, do you still want to try to implement it yourself?

[2016-01-13 10:10] divansantana commented on #11
Yes I meant "would not require a fix" - thanks.
I am new to Emacs and not much of a dev but let me see if I can try make time in the next week or so to give this a shot.

[2016-02-28 14:25] DamienCassou commented on #11
Please check that this patch fixes your problem.

[2016-02-28 14:26] #7 closed

[2016-02-29 12:33] divansantana commented on #11
Tested and verified. Works great. Very nice!

Thanks a lot.

[2016-02-29 12:33] #11 closed

[2016-02-29 12:52] DamienCassou commented on #11
Great. I'm releasing a new version then.

[2016-07-13 14:51] timoc opened #14 "[Feature Request] Integrate with lastpass"
lpass is the lastpass command line tool.
https://github.com/lastpass/lastpass-cli

[2016-07-13 15:53] DamienCassou commented on #14
Sorry, this repository is an integration of password-store inside Emacs. If you want to integrate lastpass, this is another project. I was using last pass before, but I'm now very happy with password store. I suggest you give that a try.

[2016-07-13 15:53] #14 closed

[2016-09-19 14:40] divansantana opened #17 "In certain cases it fails to find the pass entry"
Similar to #11 , there are times when `auth-password-store` fails to find an entry.

From what I can see the pass auth is setup correctly, so not exactly sure why it doesn't find it.

Example:

I use `eshell` with and do this `cd "/ssh:htf-sentry|sudo:root@htf-sentry:/root"`
[code]
However I do have an entry in my pass name `htf-sentry`.
[code]

[2016-09-19 15:04] divansantana commented on #17
Can't help much myself from a coding perspective. Maybe one day. :smile:

If you need me to do any testing etc, just shout.

[2016-09-20 11:16] DamienCassou commented on #17
@divansantana what you say regarding IRC seems to be a different issue. If you agree, do you mind opening a new issue?

If you can't help me with fixing, you may help me with a test. Have a look at https://github.com/DamienCassou/auth-password-store/blob/master/test/auth-password-store-tests.el#L64. If you can implement a test for the behavior you expect for the IRC case, that would be a great fir

[2016-09-22 19:21] divansantana commented on #17
Absolutely. Yeah it should have been a different issue. I see you opened one there.

I'd like to say I can. But I have very little dev skills in any language. Esp elisp. And even less time. Though hope to be able to one day.

[2016-10-11 10:36] divansantana commented on #17
Update on this and better description of the issue I'm seeing. Talking only about the original ssh/tramp and not ERC.

Tested using your latest commits in `match-subdomains` branch.

Using config `.init.el`
[code]

And pass entry
[code]
Then open eshell and typing this:
[code]

The above fails to find the password for the sudo to root part. It prompts me as per below:
[code]

If I update my pass e

[2016-10-12 07:15] DamienCassou commented on #17
Thank you very much for your deep analyses. This will help me.

[2016-10-15 06:36] DamienCassou commented on #17
Can you please test #19? You can use the `next` branch.

[2016-10-15 07:07] DamienCassou opened #20 "Update .travis.yml"

[2016-10-15 07:08] DamienCassou opened #21 "Check auth-source"
I need to check the auth-source library to ensure I'm using it correctly. There seems to be a warning at least now in my code.

[2016-10-15 20:08] divansantana commented on #17
Thanks for this.

I've tested the `massive-refactor` branch.

Overall it seems to be working extremely well and a lot faster/better.

The tramp/ssh+eshell issue works perfectly now. Also tested my usual
authentication sources, mediawiki, erc etc, all working very well. :smile:

Having an issue with mu4e, sending email which uses `smtpmail-send-it`. Details
below:

Trying to send an email with this

[2016-10-16 07:13] DamienCassou commented on #17
Thank you very much for your detailed report. A few things I noticed:

1. the username contains a domain (`someone@someplace.com`): this is something I didn't pay attention to and I will have to fix it
1. when nothing is found with `smtp.office365.com`, auth-password-store must start the search from scratch with `office365.com` (currently, only a subset of the search is done). I will have to fix t

[2016-10-16 15:35] DamienCassou commented on #17
I've updated `massive-refactor`. Please try again but do 4 and 5 before.

[2016-10-16 15:57] #20 closed

[2016-10-17 13:17] divansantana commented on #17
Actually I made a mistake in my previous report. The user field already _wasn't_ quoted.

Ok, I've set the above and tried again using `massive-refactor`(before your
latest commits), my pass entry looks like this:

[code]
results in email being failed to send with below:
[code]

I did, double check that those two new vars you gave me _are_ being set as you
requested.

Testing the same as above, th

[2016-10-21 05:20] DamienCassou commented on #17
I've just push a new version to `massive-refactor`. It should print a bit more information.

[2016-10-21 07:05] divansantana commented on #17
Thanks. I've been meaning to try look into how to get more verbosity out of
smtpmail and debug this more, just haven't got a chance yet.

Results with your latest commits in `massive-refactor`:

With this pass entry, same old emacs config.

[code]
Results in this output:
[code]

[2016-10-21 08:09] DamienCassou commented on #17
hmmm, that's strange. At the end of the last `auth-password-store` line, I can see `as final result (password is: nil)`. At the beginning, I can see `:user nil`. Both of these are equally strange. Can you please tell me the results of:

- `M-x (auth-pass-get "user" "smtp.office365.com")`
- `M-x (auth-pass-get 'secret "smtp.office365.com")`

[2016-10-21 09:20] divansantana commented on #17
Thanks those commands helped debug the issue.

It seems one of the issues is a fault of my testing... big apologies. :(

Initially I think I was doing the reporting with my vanilla/debugging emacs
config launched from my normal home directory.

Then I got fancy to try ease debugging and had another emacs instance in
`~/dotfiles/emacstesting` of which I launched with `env
HOME=/home/admin/dotfiles/

[2016-10-21 15:57] DamienCassou commented on #17
Don't worry, we all make mistakes. I've pushed a new version. Could you please try again after removing the "user" field from the entry?

[2016-10-22 05:09] DamienCassou opened #22 "Check what happens when an entry can't be opened"
`auth-password-store` should only return entries that can be opened (with `pass`)

[2016-10-22 05:14] DamienCassou commented on #21
done

[2016-10-22 05:14] #21 closed

[2016-10-22 05:43] DamienCassou commented on #22
@divansantana this should fix the problem that appeared when your GPG was not properly configured.

[2016-10-22 06:07] #22 closed

[2016-10-22 06:26] DamienCassou commented on #17
Thank you very much for your help. I've just released v2.0.0.

[2016-10-23 09:42] divansantana commented on #17
@DamienCassou great. Thanks for a good release.

[2017-02-02 22:26] tzz opened #24 "merge with/into auth-source?"
Hi! I'd really like auth-source.el to support `pass` out of the box (no external dependencies). So your package as it is now doesn't work exactly that way, users need to go out and get it, and the docs don't mention anything about `pass`.

Should I write a new method for auth-source.el, copy yours into auth-source.el, or do you want to merge this code into Emacs? Then the docs would be adjusted ac

[2017-02-03 07:38] NicolasPetton commented on #24
Ted Zlatanov <notifications@github.com> writes:

Hi Ted,

I don't know if you remember, but some time ago we talked about this
package and the idea of making auth-source extensible.

We never did it though, but that's something I'd really like to have.

That said, there would be nothing wrong with integrating this code with
auth-source itself.

Nico

[2017-02-03 08:17] DamienCassou commented on #24
Like @NicolasPetton, I believe it's more important to have a tiny module system within auth-sources so that everyone can plug their backend.

That being said, I'm also ok integrating pass inside auth-source. Here are some notes regarding this potential integration:

- dependency: the code has a small dependency over password-store.el which should probably be removed before integration (that should

[2017-02-03 14:05] tzz commented on #24
You're already using the module system--it's the `auth-source-backends` list. What's missing? Do you want `auth-sources` entries to be easier for pass? Sorry I can't find the original discussion about auth-source modules, but I'm more than happy to continue it here or in the original list, and to implement what's needed to help you. Long-term I can see more of these modules popping up, so I will g

[2017-02-03 14:27] NicolasPetton commented on #24
Ted,

I don't remember the details anymore, but IIRC, `auth-source` has limitations with extensibility, and we had to use an advise here:

https://github.com/DamienCassou/auth-password-store/blob/master/auth-password-store.el#L86

[2017-02-03 14:29] NicolasPetton commented on #24
From our email discussion:

  The problem we faced was that `auth-source-backend-parse' uses a `cond'
  form, thus we couldn't extend it cleanly.  Or maybe we missed something?

   Maybe a `auth-source-handlers' alist would be sufficient.  It could
   simply be in a `cond' format, so `auth-source-backend-parse' becomes

     (auth-source-backend-parse-parameters entry `(cond ,@auth-source-handlers

[2017-02-03 14:33] DamienCassou commented on #24
I would prefer to have a registration mechanism beyond the advice:

[code]

I didn't know that. Where do you see that?

ok

ok. I will contact the contributor(s)

I would prefer the code to be adapted and not rewritten as I spent time making it good (for my taste).

[2017-02-03 14:41] DamienCassou opened #25 "Getting assignment forms before submission into Emacs"
@mineo @foudfou @NicolasPetton

To everyone who has contributed to auth-password-store: @tzz (maintainer of `auth-sources`) would like to include
auth-password-store in the next version of Emacs, but to do so, I need copyright
assignment forms to be signed by anyone who has contributed to auth-password-store. If
you do not wish to sign such a copyright assignment form, let me know so that
I can fi

[2017-02-03 14:42] DamienCassou commented on #25
(this call is adapted from https://github.com/jwiegley/use-package/issues/282)

[2017-02-03 15:32] tzz commented on #24
Oops, sorry, I meant "GPL project" but my fingers typed "GNU." I've edited the comment, thanks.

I can definitely add a registration mechanism for the parser. It will probably be a list of functions that get called sequentially by `auth-source-backend-parse` before the current code (and we may refactor that code) so you'd just prepend to the list from the external package. That's cleaner than a `c

[2017-02-03 15:44] NicolasPetton commented on #24
Ted Zlatanov <notifications@github.com> writes:

I agree, although it was you who actually proposed this solution :-P

Unfortunately, Damien doesn't have write access to the Emacs repo.
@DamienCassou, can you ask Eli or John if they could give you commit
access?

[2017-02-03 15:46] NicolasPetton commented on #25
@mineo @foudfou please send an email to assign@gnu.org, they will give you the form to sign.

[2017-02-03 15:58] DamienCassou commented on #24
ready when you are

/cc @jwiegley: would you mind getting me access to the Emacs repo so I can collaborate with @tzz and @NicolasPetton on integrating `auth-password-store` inside Emacs?

[2017-02-03 21:07] tzz commented on #24
All right, I've started work in the branch `feature/auth-source-pass` with some cleanups.

[2017-02-03 23:07] tzz commented on #24
The branch code and tests should now support adding more sources backend parsers easily. Take a look. Thanks.

[2017-02-04 07:05] DamienCassou commented on #24
Should we discuss implementation details here? Here is some feedback:

[code]

If `add-hook` should be used; I would have suffixed the variable name with `hook` such as `auth-source-parse-hook`.

Regarding the documentation, I propose something like:

[code]

[2017-02-04 08:01] DamienCassou commented on #24
Without commit access, I started working on https://github.com/DamienCassou/emacs/pull/1. You have write access.

[2017-02-04 11:42] mineo commented on #25
https://github.com/jwiegley/use-package/issues/282#issuecomment-158254504 mentions that documentation changes don't need copyright assignment forms. My only contributions are two commits in `README.md`, do I still need to sign the forms? If yes, I'd be happy to, but if there's an easier way for me, I'd be equally happy to not get involved with paperwork ;-)

[2017-02-05 00:19] tzz commented on #24
@DamienCassou I'll comment in the PR, we can close this one I think, unless you want to keep it open until the final merge.

[2017-02-05 10:46] #24 closed

[2017-02-06 09:32] DamienCassou commented on #25
@mineo I have no idea and understand you very well :-).

[2017-02-15 19:24] foudfou commented on #25
Assignment complete.

[2017-02-15 19:37] DamienCassou commented on #25
Thank you very much.

[2017-02-15 20:20] mineo commented on #25
Whoops, I totally forgot this. I've now at least sent an email to assign@.

[2017-02-16 08:39] DamienCassou commented on #25
Thank you both.

[2017-02-16 08:39] #25 closed

[2017-02-16 11:28] tzz commented on #25
This means we have all the assignments? Wonderful! Thanks!

[2017-05-12 16:38] thblt opened #26 ""Client host rejected" when using with mu4e for sending"
I'm trying to use auth-password-store with mu4e for smtp passwords.  My password-store layout may not match what auth-password-store expects, yet I'm surprised of the error I get.  Without auth-password-store enabled, `message-send-and-exit` prompts for a password and correctly sends mail.  After `(auth-pass-enable)`, `message-send-and-exit` fails with the following trace (in `*Messages*`):

[code

[2017-05-14 07:41] DamienCassou commented on #26
Please tell me what appears in the `*Messages*` buffer after you have set the 2 variables. Also, is the entry literally named `username` or is it named with your smtp username?

[2017-05-14 20:10] thblt commented on #26
[code]

The entry name is the actual username.

FWIW, I've changed the organization to the [recommended method](https://github.com/DamienCassou/auth-password-store#organization), and everything works great now.

[2017-05-15 07:05] DamienCassou commented on #26
Good to hear. I'm closing this one now.

[2017-05-15 07:05] #26 closed

[2017-06-05 20:19] jellelicht opened #29 "default documented value for host not handled properly"
Currently, this package does not really like having `nil` and/or `t` passed as the host argument.
I get:
[code]
when not passing in any `:host` argument to `auth-source-search`. From `auth-source-search`'s documentation:
[code]
This documentation is actually not entirely correct; looking at the netrc backend of `auth-source-search`, they seem to rebind `:host` to `t` in the backend, which imho see

[2017-06-05 20:58] DamienCassou commented on #29
/cc @tzz do you have any clue?

[2017-06-06 17:16] jellelicht commented on #29
It also seems that the `:max` arguments is ignored. Should I open a separate ticket for this?

[2017-06-12 13:35] DamienCassou commented on #29
@tzz up

[2017-06-13 15:23] tzz commented on #29
Sorry, I was away and couldn't reply sooner.

@DamienCassou is there a default file or directory we can scan?

@jellelicht can you please provide a full example that we can use, right now it's not clear how you called it exactly. Thank you!

[2017-06-16 07:05] DamienCassou commented on #29
Ted Zlatanov <notifications@github.com> writes:

there is no default file, but the code I wrote always checks
~/.password-store. I have to admit the auth-sources API is still
obscure to me. I would be happy to implement a solution, if I know
what is expected.

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm

[2017-06-16 10:48] jellelicht commented on #29
I will try to come up with a more self-contained example, somewhere today.

The most important part is that when leaving `:host` `nil`, auth-password-store matches zero instances, whereas the documentation/other backends insinuate that it should be treated like more of a wildcard in that specific case.

[2017-06-22 07:24] DamienCassou commented on #29
Any news?

[2017-06-22 11:08] jellelicht commented on #29
[code]

[2017-06-22 11:18] jellelicht commented on #29
Sorry for the delay, life happened.
I tried to make it as self-contained as possible.
If anything is still unclear, please do ping me.

[2017-06-22 11:40] DamienCassou commented on #29
@jellelicht thanks for the detailed report.

@tzz can you please confirm @jellelicht expresses the expected behavior? Should I implement it like that?

[2017-07-03 11:12] jellelicht commented on #29
Is there still something I can help with regarding this issue?
My elisp-fu is not really up to snuff to do the actual work, sadly, but testing and/or verifying stuff is something I could do.

[2017-07-19 06:28] DamienCassou commented on #29
@tzz up?

[2017-07-28 15:28] tzz commented on #29
@DamienCassou @jellelicht I'm sorry it's taking so long. I'm traveling and have had zero time to work on this. I feel terrible.

I'll try to fix this as soon as I'm back next week. If you want to speed up my work, you could prepare test cases; see `emacs.git/test/lisp/auto-source*.el` for the format.

[2017-07-30 05:57] DamienCassou commented on #29
@tzz: I'm not sure there is a bug in auth-source. Maybe it is in auth-source-pass, maybe there is no bug. In fact, I would like you to tell me what is the expected behavior. Then, I can work on the code if you want to.

[2017-07-31 12:42] jellelicht commented on #29
The example I posted above shows behaviour which is inconsistent with my interpretation of the (also posted) documentation of `auth-source-search`.

This implies one of three things:

- The documentation of `auth-source-search` is incorrect, and needs an update
- The current implementation of auth-password-store needs to be brought in-line with the `auth-source-search` spec
- My understanding of t

[2017-08-05 21:04] tzz commented on #29
I'm working on writing tests and improving the docs. But I can confirm that the **intended** behavior of any `auth-source` backend is:

* `:host t` should match anything, returning at most one entry (since `:max` defaults to 1)
* `:host t :max 2` should match anything, returning two entries
* `:host X :max 2` should match up to 2 entries that have host `X`

If any backend, including the netrc back

[2017-08-08 16:44] ReichKV opened #31 "auth-password is not enabled."
Hi,
I am trying to use your  program. I put  the following in my init file, and start emacs as a daemon:

(use-package auth-password-store
  :ensure t
  :config
  (auth-pass-enable)
  )

However, auth pass is not initialize at startup.  I need to manually execute (auth-pass-enable), then the program works as it should.

Could you help me to initialize the auth-pass at start?

[2017-08-08 17:59] DamienCassou commented on #31
Indeed, that's a use-package usage problem. When you use `:config`, you tell use-package to only execute the code after the package is loaded: as a result, if you never load the package, the code is never executed. You have two options here: either you force the package to load at startup (with `:demand t`) or you tell use-package to execute the function `auth-pass-enable` before loading auth-pass

[2017-08-08 17:59] #31 closed

[2017-08-08 18:41] ReichKV commented on #31
Sorry, I still cannot initialize the package. I tried:
(use-package auth-source
  :init
  (progn
    (setq auth-source-debug t)
    (setq auth-source-do-cache nil)))

(use-package auth-password-store
  :after auth-source
  :init
  (progn
    (setq auth-sources '(password-store))))

from your config and also:

``(use-package auth-password-store
   :ensure t
   :init
   (auth-pass-enable)
   )
``
 a

[2017-08-08 21:10] ReichKV opened #32 "auth-password is not enabled"
Back to https://github.com/DamienCassou/auth-password-store/issues/31

Sorry, I still cannot initialize the package. I tried:
[code]

from your config and also:

[code]

and
[code]
and just lines from the documentation
[code]

Nothing works. The package doesnot start when i load emacs. If i use one of these methods manually, it works

[2017-08-08 21:17] #32 closed

[2017-08-08 21:19] ReichKV commented on #32
Ok, now i figure out it. I also defined "auth-sources" variable

[2017-08-09 05:24] DamienCassou commented on #32
Good :-).

[2017-08-18 22:33] tzz commented on #29
Hi! I've added tests to show clearly the expected auth-source behavior with the `netrc` backend. I hope these tests are helpful in settling the questions about the auth-password-store behavior. I hope that helps resolve this issue.

[code]

[2017-08-22 06:52] DamienCassou commented on #29
Ted Zlatanov <notifications@github.com> writes:

Thanks for this. Would it be possible that backends are tested with
exactly the same test? I would like to write something like that to be
sure auth-source-pass follows the guidelines:

    (ert-deftest auth-source-pass-implements-auth-source ()
      (let ((...prepare the store...))
        (auth-source-test-backend-api #'auth-source-pass-backend-p

[2017-08-23 14:10] tzz commented on #29
Agreed! Good plan, and easy to implement.

I'm not sure what the equivalent `pass` layout would be, unfortunately. If you tell me, then it's simply making a temporary directory, populating it, and cleaning it up at the end, and I can do all that.

[2017-08-23 19:19] DamienCassou commented on #29
Ted Zlatanov <notifications@github.com> writes:

No need for a temporary directory, the test macro
auth-source-pass--with-store emulates that. Look at the unit tests for
examples. You might want to write something like that (untested):

    (ert-deftest auth-source-pass-implements-auth-source ()
      (auth-source-pass--with-store '(
        ("a1" ("port" . "a2") ("user" . "a3") ("secret" . "a4"))

[2017-08-24 17:30] tzz commented on #29
@DamienCassou in theory you're right, but I'm concerned that the real-world behavior of `pass` differs from the theoretical one implemented by that macro. Why not use the real thing? Are you concerned about performance, side effects, or test environment requirements?

[2017-08-26 18:14] DamienCassou commented on #29
Ted Zlatanov <notifications@github.com> writes:

I don't understand your concern. The whole implementation of
auth-source-pass is tested like that because it is much simpler to
simulate a password store than to create many encrypted files and
directories. Moreover, auth-source-pass does not depend on the pass
command-line utility.

That being said, if you still prefer to use a real file system, I

[2017-09-11 14:56] jellelicht commented on #29
@tzz If real world behaviour of `pass` differs from the theoretical one implemented by the macro, then surely that would be a bug in the implementation of either. I guess it depends on what you want to do, something more akin to a unit test vs an actual end-to-end test. Either works for me.

[2017-09-12 20:05] tzz commented on #29
My concern is that we're testing pure data, not how `pass` behaves. So it's more of a unit test and I was thinking of an integration test as @jellelicht said.

But I understand it's easier and not a big concern, so I'm OK with it, you've answered my question.

[2017-10-13 15:49] jellelicht commented on #29
A gentle bump, have there been any developments regarding this issue?

[2017-10-16 09:00] DamienCassou commented on #29
Jelle Licht <notifications@github.com> writes:

I've started looking at it too. Sorry for the delay. May I ask you how
it affects you in particular?

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2017-10-16 11:40] jellelicht commented on #29
I'd like to use `auth-password-store` as a drop-in replacement for `.authinfo.gpg`.
Several configuration layers of Spacemacs use `auth-source-search` for finding the relevant login info. [This](https://github.com/syl20bnr/spacemacs/blob/master/layers/%2Bchat/rcirc/funcs.el#L15) is a good example of what Spacemacs expects to be able to do with auth-source backends.

Specifically, I want to store m

[2017-10-16 14:40] DamienCassou commented on #29
Jelle Licht <notifications@github.com> writes:

I don't use spacemacs, but I use password-store for everything
(including smtp, irc, slack, …). I don't have any authinfo file anymore.

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2017-10-16 14:52] jellelicht commented on #29
In the linked code fragment, the following is done to search for passwords:

[code]

Which should work according to documentation:
`:host (X Y Z) means to match only hosts X, Y, or Z according to
the match rules above.  Defaults to t.`

As auth-password-store currently does not support leaving `:host` empty or even setting it to `t` without crashing, this does not currently work, forcing me to put

[2017-10-16 15:08] DamienCassou commented on #29
I know that I have to work, don't worry :-). I'm just saying that you can probably work-around the issue in the meantime if you want to remove your authinfo file rapidly. For example, you can use `auth-pass-get` directly from your init.el file. Look at mine for example: https://github.com/DamienCassou/emacs.d.

[2017-10-16 20:27] DamienCassou commented on #29
@jellelicht I implemented this https://github.com/DamienCassou/auth-password-store/pull/33. I'm not sure password store can reasonably implement a requirement like:

[code]

as it would mean opening every gpg file in the password store, one after the other to find the one defining the right port/protocol. This would be really slow (I tried that in the past and this was impossible to use for me and

[2017-10-17 04:05] DamienCassou commented on #29
Another way would be to name your entries with a trailing colon and port/protocol name. Something like "freenode.net:nickserv.gpg". What do you think?

[2017-10-23 01:46] jellelicht commented on #29
@DamienCassou I decided to apply a patch akin to your `my/get-password` from above to my emacs configuration, so for now all practical issues are resolved. The problem (choice?) of not being able to match `:host` to `t` remains though, making auth-password-store an incomplete backend.

For now, perhaps auth-password-store should at least gracefully handle the fact that as a backend for `auth-sourc

[2017-10-23 01:47] jellelicht commented on #29
Regarding your proposal to add port/protocols to the filenames: I would dislike this very much, but only for the superficial reason that I really like short and clear filenames for my password database :smile:.

[2017-10-23 01:58] jellelicht opened #35 "auth-source-search SPEC does not handle custom tokens."
From the `auth-source-search` documentation, as a part of `SPEC`, the search query;
[code]
and:
[code]

As I understand this, this means that I should be able to filter on custom properties, as well as make sure that these custom properties are included in the query results. AFAIK auth-password-store currently ignores any tokens but `:host :port :user :secret`.

[2017-10-23 06:43] DamienCassou commented on #35
I confirm this is a bug.

[2017-11-17 22:40] marcowahl opened #45 "Advice to handle two users for the same domain"
Hello!

Thanks for pass!

Could you give a hint how to store passwords for two users for the same domain, please.  E.g. hans@mail.org and gretel@mail.org.

With the current suggestion to use a further line for the user this is impossible AFAICS.

Thanks,

[2017-11-19 09:55] DamienCassou commented on #45
On November 17, 2017 11:40:12 PM GMT+01:00, Marco Wahl <notifications@github.com> wrote:

Can you please try the latest version of the package and 2 files within the same directory? E.g., mail.org/hans.gpg and mail.org/gretel.gpg.
--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2017-11-19 10:24] dni opened #46 "usage examples for mu4e and erc"
hi guys!

im trying to use your awesome plugin, but i cant get it working at all.
i use spacemacs and added your package to additional packages and set  user config

`
(require 'auth-password-store)
  (auth-pass-enable)
`

but it doesnt seem to do anything :(

in my m4ue i use smtp-send-it and i always get authentification failed, cant really figure out my problem, :( any ideas on how to debug?

i

[2017-11-19 12:50] marcowahl commented on #45
Looks good to me, thanks.

[2017-11-19 12:50] #45 closed

[2017-11-20 12:45] DamienCassou commented on #46
Can you please add this to your config so we can debug more easily?

[code]

Try again and watch the `*Messages*` buffer.

I use the same in notmuch, we should manage to fix your issue :-).

[2017-11-20 12:54] dni commented on #46
Hi! Thank you for your help!

Hm, looks like it found something...

[code]

[2017-11-20 15:08] DamienCassou commented on #46
Can you please:

1. tell me if you have a `auth-pass--find-match-unambiguous` function in auth-password-store.el. If you don't, please update auth-password-store to its latest version;
2. what happens if you replace `smtp.mail.eu-west-1.awsapps.com/office@dnilabs.com.gpg` with `smtp.mail.eu-west-1.awsapps.com.gpg` with a `user: office@dnilabs.com` line inside.

Sorry for your problem.

[2017-11-20 15:51] dni commented on #46
you dont have to excuse ;) i have to thank you for providing this functions.
JJk
1. its there
2. it works now 💃

nice, so do i have any way of adding multipe user like this?
i have 2 or more users at ´smtp.mail.eu-west-1.awsapps.com´

[2017-11-21 09:49] DamienCassou commented on #46
no. This was just a way for me to understand the problem better. You have to go back to the directory approach. Can you please give me your smtp-send-it configuration?

Also, please tell me more about your IRC setup: emacs configuration, password store organization, *Messages* buffer.

[2017-11-21 10:26] dni commented on #46
Hi!

[code]
im now using the plaintext pw approach for erc password ;), here i dont really care that much.

[2017-11-21 10:48] DamienCassou commented on #46
When I was using ERC (now using [Circe](https://github.com/jorgenschaefer/circe)), I had this:

[code]

[2017-11-21 10:57] dni commented on #46
should i do the same for `smtpmail-auth-credentials` ? :D

[2017-11-22 19:23] DamienCassou commented on #46
The variable `smtpmail-auth-credentials` has been removed in Emacs 24.1. Which version of Emacs are you using? Could you try switching to `smtpmail-smtp-user`?

I think I reproduced your setup and it works for me. The lines of interest in my configuration are at https://github.com/DamienCassou/emacs.d/blob/master/init.el#L650. My password store now contains a file `choca.pics/damien@cassou.me.gpg`

[2017-11-26 17:46] dni commented on #46
nice i changed it, like you said, had some trouble, getting it to work again with some accounts, both with user: office, but with different hosts. didnt work, so i just changed to user: to office@xy.com and it worked.

thank you for your time 👍

[2017-11-26 17:46] #46 closed

[2017-11-29 03:06] dieggsy opened #48 "Decrypting /path/to/file.gpg every time?"
With `.authinfo.gpg`, I could run e.g. "sudo pacman -Syu" in eshell and i'd only get a message about decrypting `.authinfo.gpg` once, presumably because the connection was still open (or the password cached, or both?).

With `auth-password-store`, if I keep a file `localhost.gpg`, I get the `Decrypting ...` message every time I issue a command that requires root. I'm not exactly sure why this happ

[2017-11-29 06:27] DamienCassou commented on #48
auth-password-store indirectly asks password-store (the bash script) to read files which ultimately uses gpg to decrypt files from the filesytem. Emacs is not responsible for decryption. I don't understand why you get this `Decrypting...` message.

If you are using Emacs 26, are you sure you use auth-password-store and not auth-source-pass (which is a rewrite of auth-password-store for inclusion i

[2017-11-29 13:21] dieggsy commented on #48
@DamienCassou Ah, I am using `auth-source-pass`... the Readme is a little unclear about this, I thought it was the same.

[2017-11-30 12:13] DamienCassou commented on #48
diego <notifications@github.com> writes:

would you mind trying to improve the README please?

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2017-12-01 01:19] dieggsy commented on #48
Sure, though isn't the described behavior still suboptimal for `auth-source-pass`? Even if emacs is responsible for dercyption (as with `.authinfo.gpg`) it doesn't seem like it should be decrypting on every command or action that requires root. I'm not really sure how this is handled by emacs or `auth-source` normally, but I'd think it'd be nicer to be closer to the "normal" `auth-source` behavior

[2017-12-01 08:07] DamienCassou commented on #48
I guess it depends what kind of "optimal" we are talking about. Reading the file from disk and decrypting it each time the same entry is read certainly costs a little time. But what about security? Would you like all your password-store entries to be available all the time in RAM? I'm ok to pay the cost of decrypting the file for each use of the entry if it increases my security. Moreover, opening

[2017-12-01 13:57] dieggsy commented on #48
@DamienCassou I'm not noticing slowness and see your point about security. I'm just comparing `auth-source-pass`'s behaviour to `auth-source`'s, and wondering how useful it actually is to decrypt every time, given that it may be unnecessary if there is an open tramp connection.

That is, it is more secure to decrypt every time, but since in the described use case it would _already_ be possible to

[2017-12-01 14:23] dieggsy commented on #48
@DamienCassou I think I understand the source of my issue and can clarify now - `auth-source` uses `password-cache`, `auth-source-pass` does not. I believe `auth-source` makes this optional with the variable `auth-source-do-cache`. It would be nice if `auth-source-pass` had this option as well, for consistency with `auth-source`, and to give the user the option.

(At least, I think this is the roo

[2017-12-01 14:26] dieggsy commented on #48
Sorry to spam a bit, after turning off `password-cache`, and noticing similar behavior in `auth-source` I'm not convinced this was the reason after all - it may still be something to do with tramp. In any case, I think it's worth further investigation even if as a user option.

[2017-12-01 15:52] DamienCassou commented on #48
/cc @tzz do you think it could be a bug in auth-source? I don't think backends should be responsible for storing passwords, should they?

[2017-12-01 16:14] tzz commented on #48
@DamienCassou I think the backend should decide if and how to cache. `auth-source-do-cache` is advisory and doesn't have to be considered.

Regarding auth-source in core, I think the current caching behavior of the netrc backend is a decent compromise, but could certainly be improved. I've argued that relying on an external binary like GnuPG to do all encryption and decryption is a security risk a

[2017-12-01 16:20] dieggsy commented on #48
@tzz even if i set `auth-source-do-cache` to `nil`, `.authinfo.gpg` isn't decrypted every time a command requires root access (i'm testing from eshell) - or at least, I don't get the `Decrypting ...` message. Do you know why this is? I sort of jumped around in the above comments thinking it might be a tramp thing, or a cache thing, but I'm not really sure.

[2017-12-01 16:51] tzz commented on #48
I looked at the source. It's been a while, and I should have checked before speaking earlier.

* @DamienCassou I see that `auth-source-do-cache` provides no way for the backend to override it, because it's consulted before the backend gets checked. Sorry for my incorrect statement earlier. I was thinking of the netrc caching. I can add a way for the backend to request no caching, if you'd like.

*

[2017-12-01 17:09] dieggsy commented on #48
@tzz  @DamienCassou  I still think caching should be optional - I'd like to have caching with `auth-source-pass` (once I understand what's actually happening with `auth-source`, I guess)

With `auth-source-do-cache` set to `nil`, `(auth-source . ANYTHING)` is not present in `password-data`, as you say. It only shows up if `auth-source-do-cache` is `t`.  However, something is still preventing decry

[2017-12-01 17:17] dieggsy commented on #48
To clarify my previous statement, I think `auth-source-pass` is somehow already overriding caching, since it's causing decryption every time. It'd be nice if it only optionally did this.

[2017-12-02 12:05] DamienCassou commented on #48
My opinion is that:

- auth-source should be responsible for asking the right backend, and potentially caching the result
- each backend should be responsible for properly answering queries from auth-source

[2018-01-03 06:03] seanfarley opened #50 "async-smtpmail-send-it silently fails"
Trying to follow the advice given in other issues but no debug messages appear (I'm guessing due to the async nature).

Basically, `async-smtpmail-send-it' does not work (tested with both emacs 25 [melpa package] and 26 [internal auth source]). I can try to help debug but ran into a roadblock as I described here:

https://github.com/jwiegley/emacs-async/issues/53

Any guidance is much appreciated!

[2018-01-04 15:07] jellelicht commented on #29
@DamienCassou would you be okay with accepting a PR that basically makes auth-password-store do the following when receiving a `host` equal to `t`:
- Show a warning message along the lines of "Auth-password-store currently cannot handle wildcards"

Subsequently, or when receiving a `host` equal to `nil`:
- Return 0 matches without crashing, potentially allowing other registered `auth-source-search

[2018-01-07 15:47] DamienCassou commented on #50
Hi @seanfarley,

I know nothing about the async package. I guess it starts a new Emacs instance which needs to know about auth-password-store. There is an `async-smtpmail-before-send-hook` variable where you could add a function configuring auth-password-store.

/cc @jwiegley

[2018-01-07 15:49] DamienCassou commented on #29
Please go ahead.

[2018-01-07 22:44] seanfarley commented on #50
Sigh. I swear tried that before but apparently I did not (at least not correctly). You are right that enabling pass in the hook does work. Exact code in case anyone is curious:

[code]

[2018-01-07 22:44] #50 closed

[2018-01-11 02:20] akater opened #51 "Clarify “service” in Readme.md"
Readme.md says:

What is a service? An example, or multiple examples, would help a lot.

Neither `man pass` nor “data organization” page Readme.md links to, do not mention “services”, or examples of files with colon in their names.

[2018-01-15 09:59] DamienCassou commented on #51
What do you think about the fix at #52?

[2018-01-17 02:26] dieggsy commented on #48
@DamienCassou I might understand the behavior I was describing a bit better. I think the `Decrypting...` message is probably a result of using `insert-file-contents` in `auth-source-pass--read-entry`. I guess `insert-file-contents` uses `epa` internally on encrypted files, so it may be that this behavior is "expected" given the implementation.

[2018-01-23 10:36] #51 closed

[2018-01-23 10:36] DamienCassou commented on #51
Done.

[2018-01-25 12:12] jellelicht commented on #29
I've put up a (very simple) PR. If I missed something, I'll try to address it somewhere this week still.

[2018-02-08 21:15] jabranham opened #54 "Obsolete name arg "password-store" to constructor auth-source-backend"
I get this warning when byte compiling `auth-password-store` on Emacs 26:

[code]

And the variable definition looks weird too:

[code]

Any idea how to fix this?

[2018-02-09 08:03] DamienCassou commented on #54
I've seen this as well but tried to pretend I didn't :-). Now, I can't anymore. Any clue @tzz?

[2018-02-09 11:43] tzz commented on #54
I've never seen this either, and the error makes no sense. Emacs byte compilation is black magic to me.

[2018-02-09 17:07] jabranham commented on #54
Do you want me to email emacs-devel and see if anyone has an idea what this could mean?

[2018-02-11 21:31] taohansen opened #55 "Gnus fails to authenticate with auth-password-store enabled"
Gnus offers
[code]

i have two Emacs configs, one of which uses auth-password-store and the other which does not. the config that does not use auth-password-store works fine with the same .gnus file.

in shell i have created a password entry as follows:
`pass edit auth-sources/name@domain.com`
the contents of which are:
[code]

[2018-02-12 10:42] DamienCassou commented on #54
Alex Branham <notifications@github.com> writes:

sure.

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2018-02-12 10:50] DamienCassou commented on #55
Please set these 2 variables and try again:

[code]
If you feel comfortable doing so please also change code like this

[code]

[2018-02-12 17:19] jabranham commented on #54
@DamienCassou @tzz

I got some help from emacs-devel. Looks like the name argument is just unused and can be removed. https://lists.gnu.org/archive/html/emacs-devel/2018-02/msg00342.html

So changing the defvar to

[code]

solves the issue for me.

[2018-02-12 19:26] DamienCassou commented on #54
On February 12, 2018 6:19:37 PM GMT+01:00, Alex Branham <notifications@github.com> wrote:

Would you mind opening a PR?

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2018-02-12 19:32] jabranham commented on #54
Done, #56

[2018-02-12 21:08] taohansen commented on #55
i was only able to do the first task requested:
[code]

[2018-02-13 08:00] #54 closed

[2018-02-13 08:04] DamienCassou commented on #55
As you can see from the log, gnus is searching for a password for "standard-library.com" and can't find it. Do you have this host defined anywhere in your configuration? What is the relationship with fastmail.com or domain.com?

A workaround for your problem is to create a symlink from `auth-sources/name@domain.com.gpg` to `auth-sources/standard-library.com.gpg`.

It would be good to understand th

[2018-02-22 17:15] DamienCassou opened #60 "Adding changes back to Emacs tree"
I would like to backport the changes you guys did to the Emacs tree as auth-password-store/auth-source-pass is there too. Did you sign the GNU agreement? If not, are you willing to?

- [x] @jedrz
- [x] @dieggsy
- [x] @jabranham
- [x] @jellelicht

[2018-02-22 17:16] jabranham commented on #60
I've signed the papers already

On Thu 22 Feb 2018 at 11:15, Damien Cassou <notifications@github.com> wrote:

[2018-02-22 17:17] jellelicht commented on #60
I did not, but am willing to. Is there a link somewhere which describes the general procedure?

[2018-02-22 17:23] DamienCassou commented on #60
@jwiegley wrote [something like that previously](https://github.com/jwiegley/use-package/issues/282):

You might also need to tell your country of residence.

[2018-02-22 19:30] jedrz commented on #60
I did not though I am going to contact the FSF. I will inform you about any progress.

[2018-03-05 22:55] tadfisher opened #61 "Entries with paths are not resolved"
Example pass entry:

`host.example.com/path/v3/username.gpg`

I expect the result of `(auth-source-pass--find-match "host.example.com/path/v3" "username")` to match this entry.

However, `auth-source-pass--find-all-by-entry-name` checks that the full `entryname` (in this case, `"host.example.com/path/v3"`) is a member of the entry's path *after* splitting its path components:

[code]

which expand

[2018-03-09 13:02] DamienCassou commented on #61
As far as I can see, this breaks the tests `auth-source-pass-make-divansantana-happy`. Could you please open a PR making your change work with existing tests and adding a new one?

[2018-03-09 13:03] DamienCassou commented on #61
I forgot to say I was sorry for the late reply.

[2018-03-09 13:04] DamienCassou commented on #29
I propose we close this issue. Thanks for mitigating it with your PR.

[2018-03-09 13:04] #29 closed

[2018-03-09 13:04] DamienCassou commented on #29
Feel free to reopen if you plan on doing something about it.

[2018-03-09 13:12] DamienCassou commented on #35
I don't have any plan to make auth-source-pass handle the whole requirements of auth-source. This is a lot of work and doesn't always make sense or is feasible with pass. I think I will, at least for some time, only handle actual use cases.

I'm closing the issue. Feel free to reopen it if needed.

[2018-03-09 13:12] #35 closed

[2018-03-09 13:13] DamienCassou commented on #55
I'm closing this issue for now. Feel free to reopen with answers to my question.

[2018-03-09 13:13] #55 closed

[2018-03-09 13:14] DamienCassou commented on #60
Any news @jedrz, @dieggsy and @jellelicht?

[2018-03-09 13:25] jedrz commented on #60
I sent the agreement signed by me and now I am waiting for receiving the copy signed by FSF back.

[2018-03-09 13:34] jellelicht commented on #60
Likewise for me.

[2018-03-09 15:41] dieggsy commented on #60
@DamienCassou ah, sorry about that, I'll send out the email today

[2018-03-15 16:42] jabranham opened #62 "MELPA isn't getting updated"
Any idea why auth-password-store in MELPA isn't getting updated? I just updated `helm-pass.el` to use the renamed `auth-source-pass` stuff and now the CI is failing.

[2018-03-20 20:05] danielsz commented on #62
Same problem here.

[2018-03-20 20:16] jabranham commented on #62
I'm just guessing but I bet it's because none of the recent commits were authored after Feb 14th, even though they were committed more recently.

The only two that were (the two most recent) are empty or just touch the README, which probably doesn't trigger a rebuild by MELPA.

Pushing a commit that changes... something? (whitespace?) on the `.el` file I bet will fix it.

[2018-03-20 22:40] jellelicht commented on #60
@DamienCassou  I'm just waiting on getting the signature back from the FSF, so afaik everything is okay from my end. Sorry for the delay!

[2018-03-21 12:54] Titan-C opened #63 "User is not recognized when using caldav"
Thank you for this package, using pass only is nicer than keeping track of it and the authinfo file.

I have been dealing with this package for quite a while and it doesn't completely work. Issue #46 was extremely helpful to get my smtp config working. But I have failed with org-caldav.

Reading your init.el @DamienCassou  I understand I should set the user in and url like:
[code]
If my passwordst

[2018-03-21 19:36] DamienCassou commented on #63
I agree :-).

I hope I can be helpful.

Which version of auth-password-store are you using? The one provided with Emacs 26 or the one in this repository? Which version of it? If you are using anything else than the latest and greatest (3.0) from this repository or melpa, I suggest updating first. I think your problem has been fixed already.

[2018-03-21 22:43] Titan-C commented on #63
Hi. I'm using Emacs 25.3 and the package is installed from MELPA where it is still called auth-password-store. I do think it is version 3.0, the date is matched for 20180214.
I'll try installing directly from git and report again later.

[2018-03-21 23:14] Titan-C commented on #63
I understand less what is going on. I downloaded the version from git and loaded with:
[code]
But when I call `org-caldav-sync` I get
[code]
unfortunalety this is the case with all other use cases. I can't send email either, `password-store` backend is invalid?
For completenes `password-store` and `pass` are still installed and work correctly.

[2018-03-23 08:33] DamienCassou commented on #63
I spent some time this morning releasing a new stable version 4.0.0 with the new library name. I've also sent a PR to melpa to get the new name in there. This won't help you but will make things a bit clearer to debug your problem.

[2018-03-23 08:35] DamienCassou commented on #63
What is the content of `auth-sources` please?

Can you try replacing that with `(setq auth-sources '(password-store))`?

[2018-03-24 02:00] Titan-C commented on #63
I just installed the newly released package from MELPA, I unsurprisingly get the same ill behaviour I had from running from git.

Its value is (password-store "~/.authinfo" "~/.authinfo.gpg" "~/.netrc")

Did that too same problem.

[2018-03-25 08:57] orther commented on #62
Just checked and it looks like MELPA is updated after v4.0.0 was pushed 2 days ago.

[2018-03-25 21:54] #62 closed

[2018-03-25 23:33] mdorman commented on #63
I'm seeing this issue as well.

[2018-03-25 23:51] mdorman commented on #63
I'm going to bet that this is a divergence between emacs-25 and emacs-26.  The emacs-25 version of `auth-source` doesn't have `auth-source-backend-parser-functions`---and indeed, if you look at how you *used* to hook things in, you were advising `auth-source-backend-parse`, rather than adding a hook.

Adding back a suitably-adjusted `(advice-add 'auth-source-backend-parse :before-until #'auth-sour

[2018-03-26 04:32] DamienCassou commented on #63
Thank you very much @mdorman! Can you please both try #66?

[2018-03-26 07:02] DamienCassou commented on #63
I merged the PR. Please reopen the issue if 'master' is still not working for you.

[2018-03-26 07:15] DamienCassou commented on #62
Sorry guys I haven't seen your message before. I was actually unsubscribed from this project :-(. MELPA didn't try to build the project because I forgot to rename it there. I have done that last week. Everything should be back to normal.

Thanks @orther and @jabranham for taking care of the project for me :-).

[2018-03-26 07:19] DamienCassou commented on #61
Any news?

[2018-03-26 07:20] DamienCassou commented on #48
I'm closing this issue as there is nothing I plan to do about it for now. Feel free to reopen if you have any plan to work on it or if there is an idea you would like me to try.

[2018-03-26 07:20] #48 closed

[2018-03-26 15:06] Titan-C commented on #63
Hi. The new version does fix the problem with the backend being invalid. Now I'm back to the original issue, the user is not recognized. auth-source-pass only looks for the domain.

[2018-03-27 06:41] jellelicht commented on #60
Everything is taken care of, thanks for being patient.

[2018-03-27 07:07] DamienCassou commented on #60
@jellelicht thank you for following the process and telling me about it.

[2018-03-27 19:52] tadfisher commented on #61
Hi, I'll take a look at creating a PR. Thanks for the reminder.

[2018-04-24 14:48] DamienCassou commented on #60
@jedrz @dieggsy what are the news?

[2018-04-24 14:51] DamienCassou commented on #61
I'm closing the issue for now. Please reopen when you work on it.

[2018-04-24 14:51] #61 closed

[2018-04-24 14:53] DamienCassou commented on #63
I failed to find time and interest to fix your issue. Do you still have the problem?

[2018-04-24 18:45] Titan-C commented on #63
Yes, I still have the problem. I cannot get `org-caldav-sync` to work with `auth-source-pass`

[2018-04-25 15:58] jedrz commented on #60
Yes, my assignment should be ready within couple of days.

[2018-04-25 16:15] dieggsy commented on #60
@DamienCassou fell behind on this, sorry. I'm in contact with the FSF and will fill out my forms within the next couple days, depending on when they send them over to me

[2018-04-26 17:02] DamienCassou commented on #63
From what I understand, the user is not sent to `auth-source`, only the url. This means that there is no way for auth-source-pass to know about it and to match on `cloud.najera.pw/oscar.gpg`. One workaround would be to add an entry named `cloud.najera.pw:https.gpg` in your password store. This should match.

If you care enough, please open an issue to org-caldav.

I'm closing this issues for now.

[2018-04-29 17:46] jedrz commented on #60
@DamienCassou my assignment is completed.

[2018-05-08 18:17] dieggsy commented on #60
@DamienCassou I've sent in my papers, but I didn't receive a reply from the FSF yet

[2018-05-22 19:27] dieggsy commented on #60
@DamienCassou Just received word that my copyright assignment is now complete

[2018-05-22 19:51] DamienCassou commented on #60
Thank you all. I will soon proceed to send all our changes to the Emacs tree.

[2018-05-22 19:51] #60 closed

[2018-05-29 12:58] DamienCassou commented on #60
I sent a series of patch with your names to the Emacs developers.

[2018-06-07 07:59] DamienCassou commented on #60
The patches have been merged into `master`.

[2018-08-25 08:23] moyamo opened #70 "Different name on MELPA"
In the README it says that this package is still called auth-password-store on MElPA, but it is actually called auth-source-pass

[2018-08-25 12:07] #70 closed

[2018-08-25 12:08] DamienCassou commented on #70
Thank you for your report. I've just fixed README.

[2018-10-07 04:21] leungbk opened #72 "Help with ERC"
I've been having trouble using this to log into ERC.

The relevant parts of my config are as follows:

[code]

And my password file (`~/.password-store/freenode.net/leungbk:6667.gpg`) is
[code]

Even with the debugging settings on, there don't seem to be any useful messages in the `*Messages*` buffer:

[code]

In the ERC buffer, I see

[code]

Here's what I get in `ielm`:

[code]

I've tried copy/

[2018-10-07 07:32] #72 closed

[2018-10-08 15:42] DamienCassou commented on #72
Brian Leung <notifications@github.com> writes:

have you solved your problem? How?

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2018-10-08 16:56] leungbk commented on #72
Thanks for your response. I solved the issue by removing the port from the file name and making sure the directories lined up. `~/.password-store/freenode.net/leungbk.gpg` should get called with `(erc-tls :server "irc.freenode.net" :port 6697
             :password (password-store-get "freenode.net/leungbk"))`

[2018-10-09 18:01] creichert commented on #72
@leungbk I believe if you rename your `freenode.net/leungtbk` to `irc.freenode.net/leungbk`, it will "just work". Here is my config:

    (use-package auth-source-pass
      :ensure t
      :config
      (auth-source-pass-enable))
    (use-package erc
      :commands (erc)
      :init
      (setq
       erc-user-full-name "creichert"
       ;;; ... other configs
       )
      :config
      (erc-t

[2018-10-09 18:03] creichert commented on #72
My understanding is you don't need the additiona `password-store-*` calls because erc uses `auth-sources`. Even then, auth-source-pass has built-ins like [`auth-source-pass-get`)[https://github.com/DamienCassou/auth-password-store/blob/3de8bbb51054f495f0363a3121f287b15e0d9049/auth-source-pass.el#L100)

[2018-10-11 01:00] leungbk commented on #72
Thanks! I wasn't sure how to get everything working without that extra function.

[2018-12-03 16:13] stsquad opened #76 "Docs: add some examples for common configurations"
I'm having trouble working out how to add new authentication information to the password-store. Previously I had a .authinfo.gpg with a line like:

    machine imap.gmail.com login me@mydomain.com password "apppassword"

However it's not totally clear how I should add this information with the pass backing store. Looking at one of the older issues I tried:

    pass insert -m me@imap.gmail.com:993

[2018-12-03 20:02] DamienCassou commented on #76
Alex Bennée <notifications@github.com> writes:

You probably shouldn't pass the .gpg extension to pass insert: I guess
you now have a file
~/.password-store/me@imap.gmail.com:993.gpg.gpg. Please rename the file
so that the double file extension is removed as well as the me@ prefix
and the port prefix. You should now have a file named
~/.password-store/imap.gmail.com.gpg.

Does that work better? If

[2018-12-04 08:17] DamienCassou commented on #76
Alex Bennée <notifications@github.com> writes:

glad to hear that. Documentation can always be improved. Feel free to
send a PR.

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2018-12-04 10:32] stsquad commented on #76
See PR #77

[2019-03-04 14:54] jabranham opened #83 "Using gitlab and ghub"
I'm wondering if anyone has had success getting ghub to work with gitlab. I've got two gitlab tokens I need in my password store (my password + the API access token). ghub needs `(auth-source-search :host "gitlab.com/api/v4")` to return the API entry. Note that it can't rely on `:user` since it uses entries like `username^packagename` (in other words, I'd have to add a new entry for each repo on g

[2019-03-05 07:48] DamienCassou commented on #83
Would you mind turning on `auth-source-debug` and off `auth-source-do-cache` then copy/paste here the messages of the `*Messages*` buffer?

[2019-03-05 15:53] jabranham commented on #83
Sure thing:

With it saved as `gitlab.com/api/v4.gpg` or `gitlab.com/api/v4/username.gpg`, then `(auth-source-search :host "gitlab.com/api/v4")` results in:

[code]

This is using auth-source-pass version `4.0.1` (the latest in Emacs git master)

[2019-03-05 16:18] DamienCassou commented on #83
Alex Branham <notifications@github.com> writes:

thank you. I'm more interested into the messages that appear when ghub
can't find any password store entry.

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2019-03-05 16:25] jabranham commented on #83
Here ya go:

[code]

I thought making a file `gitlab.com/api/v4/jabranham^forge.gpg` would solve the issue but it doesn't seem to.

[2019-03-05 16:52] DamienCassou commented on #83
Alex Branham <notifications@github.com> writes:

I guess that ’jabranham^forge@gitlab.com.gpg’ would work. If that's not
acceptable to you, would you mind trying
https://github.com/DamienCassou/auth-password-store/pull/80?

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2019-03-05 16:56] jabranham commented on #83
Thanks, using `jabranham^forge@gitlab.com.gpg` does indeed work. I'll test out that PR later when I get a chance.

[2019-03-19 03:03] iquiw commented on #83
I am trying to solve the same problem.

`user^forge@host.gpg` works, but it seems to try to decrypt the file for each access to GitLab. (`auth-source-do-cache` is `t`)

[2019-03-19 08:23] DamienCassou commented on #83
if auth-password-store is called multiple times even when `auth-source-do-cache` is `t`, then there is probably a bug outside of this package.

[2019-03-19 13:07] iquiw commented on #83
I see. I will check again.

[2019-03-20 03:17] iquiw commented on #83
I set `debug-on-message` to `"Decrypting ~ .gpg...done"`, then the BackTrace in reverse order is

1. `ghub--auth`
2. `ghub--token`
3. `auth-source-pass-get`
4. `auth-source-pass-parse-entry`
5. `auth-source-pass--read-entry`

`ghub--token` seems to call `auth-source-pass-get` [here](https://github.com/magit/ghub/blob/c7ca6780bcd4d00d22e668e74b25f865ba892a45/ghub.el#L821).

[2019-03-20 07:39] DamienCassou commented on #83
@iquiw I understand now, thank you for the investigation. When `auth-source-do-cache` is t, auth-source correctly caches the result of the search for a matching entry. The entry itself doesn't contain the password, but [a function to retrieve the password](https://github.com/DamienCassou/auth-password-store/blob/master/auth-source-pass.el#L79). The password must then be decrypted by executing the

[2019-03-20 07:39] #83 closed

[2019-03-20 07:49] iquiw commented on #83
@DamienCassou Thanks. I suppose #81 will fix my issue (not tried yet).

[2019-04-06 05:20] iquiw opened #86 "Feature Request: Support alternate separator character between host and port"
I'm using password-store (actually [gopass](https://www.gopass.pw/)) on Windows as well as on Unix.

Windows does not allow filename to contain colon (`:`), so it would be nice if `auth-source-pass` can use alternate character (e.g. `#`?) as separator between host and port.

[2019-04-06 05:55] DamienCassou commented on #86
Iku Iwasa <notifications@github.com> writes:

I'm ok with that. Are you willing to send me a PR please?

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2019-04-06 08:52] iquiw commented on #86
Which is preferable?

(a) Support both `:` and `#`
(b) Add customizable variable to specify separator char

[2019-04-06 20:36] DamienCassou commented on #86
Iku Iwasa <notifications@github.com> writes:

I would prefer (b) with a note on the README.

Thank you

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2019-04-08 12:55] #86 closed

[2019-05-14 03:23] iquiw opened #90 "Multiple hosts support"
When using `auth-source-pass` with Gnus, it always raises warning `auth-source-pass ignores all but first host in spec`.

I wonder if there is any difficulty to support multiple hosts in `auth-source-pass-search`.

[2019-05-15 10:35] DamienCassou commented on #90
@kamidon and me are currently refactoring the project. I hope this feature can be implemented easily once this is done.

[2019-05-28 06:40] DamienCassou commented on #90
@iquiw : the master branch now contains the new code. Would you mind having a look at implementing what you need?

[2019-05-28 13:39] iquiw commented on #90
@DamienCassou Great! I will take a look.

[2019-05-28 20:17] dbausch commented on #90
I am currently debugging this, too. It's not "multiple hosts" which are in the <code>host</code> argument. It's a pair consisting of the Gnus server name and the actual host address. I have multiple accounts at the same provider. In Gnus I use different short identifiers as the server name to distinguish them. This works with .authinfo.gpg as I can use that short identifier as the machine name the

[2019-05-29 06:41] DamienCassou commented on #90
if one of you make a PR, please make sure to add at least a unit-test.

[2019-05-29 10:20] dbausch commented on #90
I am not sure what other applications are using auth-source and what the API contract of the search function is in general. I am on a vacation the next days and not very proficient in elisp.  But I'll do my best when I'm back.

[2019-05-29 13:25] iquiw commented on #90
According to the docstring of `auth-source-search`, it is single host or list of them. (I am not sure symbol is actually supported, for example, by `auth-source-netrc`)

as its string value, literally.  All the SPEC values can be
single values (symbol or string) or lists thereof (in which case
any of the search terms matches).

(As in above, `port` or `user` could be a list too, though it is not s

[2019-07-18 18:38] ajgrf opened #97 "Support $PASSWORD_STORE_DIR environment variable"
Upstream pass supports overriding the default password store directory by setting the `$PASSWORD_STORE_DIR` environment variable. It would be nice if the default value of `auth-source-pass-filename` automatically used this variable when it's set.

[2019-07-19 07:41] DamienCassou commented on #97
Alex Griffin <notifications@github.com> writes:

indeed, good idea. Do you care enough to send a PR?

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2019-07-22 13:25] foudfou opened #98 "Question: support other password store backends"
Thank you for this great library. I recently read about [PGP being bad](https://latacora.micro.blog/2019/07/16/the-pgp-problem.html) and [somewhat outdated](https://moxie.org/blog/gpg-and-me/). So I tried to switch to [gopass](/gopasspw/gopass) and played with their [experimental libsodium backend](/gopasspw/gopass/blob/master/docs/backends.md#nacl-based-custom-crypto-backend-xc). gopass is suppos

[2019-07-26 08:46] DamienCassou commented on #98
Sorry for the delay, I'm on vacation and have rare access to a computer.

Thank you for the articles, they were great to read. Nevertheless, you
should pay attention not to throw away GnuPG too fast.  Contrary to
many alternatives, it is both free software and has been scrutinized a
lot.  It's very easy to say that alternatives are better because they
are new but only time will tell if they are wo

[2019-07-26 16:46] foudfou commented on #98
yes, I agree with most of your points. I still believe auth-source-pass should not try to bypass `pass` though: let it find candidate entries and provide credentials and metadata for auth-source. I.e. let auth-source-pass call the `pass` executable. I agree that there still is some more filtering to do on candidate entries on the elisp side.

That said, it looks like `pass` can not easily integrat

[2019-07-31 09:00] DamienCassou commented on #98
We have a different view on what password-store is.

To you, it seems that `pass` and `gopass` are compatible entry-points to manipulate a password database. It seems that `gopass` developers agree with you because they are implementing several backends to store passwords in different ways.

To me, the filesystem (i.e., `~/.password-store`) is the entry point and `pass` and `gopass` are just one o

[2019-07-31 15:43] foudfou commented on #98
Thanks for the clarification. It looks indeed from the project description that pass is meant to be both a gpg-based filesystem and a command. It doesn't seem to favor either one. But I agree the database  spec of the tool is definitely meant to ease integration.
Maybe for the sake of the argument:
* `password-store.el` actually uses `pass` for everything *except* listing passwords (the code line

[2019-08-07 14:46] DamienCassou commented on #97
Ping

[2019-08-07 14:49] DamienCassou commented on #1
@iquiw is working on #99

[2019-08-12 09:36] #97 closed

[2019-08-13 10:26] #90 closed

[2019-10-21 07:48] leungbk opened #102 "Format for Forge"
Related to #83.

if I have

[code]

and a file `~/.password-store/leungbk^forge@gitlab.com.gpg`, which is the same format as suggested in #83, with contents

[code]

then when I try to `forge-pull` from a Gitlab repo I get in the `*Messages*` buffer

[code]

I've also tried `~/.password-store/leungbk^forge@gitlab.com/api/v4.gpg`. I'd appreciate any suggestions on how to handle this.

[2019-10-21 09:57] DamienCassou commented on #102
this is wrong. The path `/api/v4` shouldn't be part of the request, only hostnames should. Either you misconfigured forge or forge is buggy.

[2019-10-21 11:42] iquiw commented on #102
The log looks written by old version before v4.0.0 (f4a51e78e76222ae68dba36185b0cb2f7ce166f2).

I could use forge with local GitLab using the latest `master`.

[2019-10-21 17:01] leungbk commented on #102
Thanks, just tried again with the latest `auth-password-store` upstream and it works. Sorry, should have done that first instead of assuming the Emacs-bundled version was up to date.

[2019-10-21 17:01] #102 closed

[2020-04-30 15:31] komali2 commented on #46
This entire conversation was very helpful, but as you can imagine your init.el has changed quite a bit in the last 3  years ;P Any chance you still have how that config looked?

[2020-05-01 15:29] DamienCassou commented on #46
Here are the relevant variable/value pairs:

[code]

Please open a new issue if you struggle configuring something. I suggest you first set

[code]

Then run `M-x auth-source-forget-all-cached`, then do whatever you need and finally check the `*Messages*` buffer.

[2020-07-07 18:58] hexagonal-sun opened #105 "Using auth source with smtpmail"
Hi there,

I'm having some issues when using `auth-source-pass` with `smtpmail`.  Whenever I try and send an email, I'm always prompted for my password and the password is never picked up from the database.  My debug log is as follows:

[code]

Notice that it *did* find an entry in my password store database.  However, what is strange is that if I now try and get the creds via ielm, it works:

[co

[2020-07-07 19:31] hexagonal-sun commented on #105
Looks like I've fixed the issue, I'm using `mu4e` as my mail client and, for some strange reason, it changes the current working directory to `~/.mail/.attachments` when sending a mail.

On my machine this directory didn't exist and so when the function `auth-source-pass--read-entry` tried to read the file it couldn't.  Since this is called within `ignore-error`

https://github.com/DamienCassou/au

[2020-07-07 19:31] #105 closed

[2020-09-14 19:51] konstare opened #106 "port as a list of strings ("imaps" "193")"
When i open imap server in gnus with debug mode:
[code]

I see the following message:
[code]
Apparently nothing is found.
As i understand this, gnus does not give to auth-source one port, but instead provides the list of ports(similar to hosts) and auth-source-pass does not support this feature.

[2020-09-15 06:16] DamienCassou commented on #106
konstare <notifications@github.com> writes:

I confirm this. Are you willing to work on fixing this?

Best

--
Damien Cassou

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2020-09-15 06:55] konstare commented on #106
I am not a programmer, but it does not look too complicated. So, yes, give me two days i'll try to fix it.

[2020-09-15 13:46] konstare commented on #106
To deal with list of ports, I suggest to change the following function:

[code]

It seems to me this approach works, although, it is fishy.
You deal with multiple hosts in auth-source-pass--find-match so it is reasonable to deal with multiple ports also here, something like this:

[code]
But in this situation, some sources are checked multiple times. like "host:port1" "host" "host:port2" "host".

[2020-09-20 08:50] bradprob commented on #76
I'm facing the same:
- logging info saved in: .password-store/imap.gmail.com.gpg with the following content:
[code]
- auth-source-pass's log:
[code]

[2020-09-21 06:15] DamienCassou commented on #76
@bradprob please see https://github.com/DamienCassou/auth-password-store/issues/106

[2020-09-21 07:01] DamienCassou commented on #106
@konstare For someone who is not a programmer, it seems that you can read and write code! Good job. Thank you.

Would it be possible to simplify `auth-source-pass--find-match` so `auth-source-pass--find-match-unambiguous` can receive a list of hosts, a list of users and a list of ports? Then, the complexity could be moved to `auth-source-pass--name-port-user-suffixes` the same way you did in your

[2020-09-22 07:24] konstare commented on #106
I thought about this, I tried and I failed. As I understand it, one should substantially change the logic of the code, which i am afraid to do.

[2020-09-23 20:37] bradprob commented on #106
@DamienCassou are you looking for something like:
[code]

[2020-09-30 04:13] DamienCassou commented on #106
@bradprob what you suggest is reasonable but gives higher priority to the first elements in the list, e.g.,

[code]

results in:

[code]

I would instead like to see the shortest elements at the end. Maybe sorting by length in your function would be the simplest. Another solution would be to build the list in the right order immediately. Something like:

[code]

What do you think?

[2020-10-03 07:32] bradprob commented on #106
Good suggestion! I am in favor of less code, though. I do't know `elisp` very well, so I don't know whether there is already a sort function to achieve the goal. Something like:
[code]

[2020-10-03 12:51] DamienCassou commented on #106
This looks reasonable. Can you please open a Pull Request?

[2020-11-08 10:44] DamienCassou commented on #106
Please check if #109 solved this issue.

[2020-11-08 11:29] konstare commented on #106
It works for me

[2020-11-08 11:29] #106 closed

[2020-12-07 10:37] benneti opened #110 "smtpmail does not find password"
Hi,

I am trying to use this to let smtpmail find my smtp password but for some reason it finds the correct entry but does not use it
[code]
the following work as expected
[code]
but when I try to send the mail it still asks for the password (from mu4e).
The debug output is

[code]

[2020-12-07 20:39] DamienCassou commented on #110
Thank you for your bug report and sorry that you have to work that hard and get no result. I reproduced your setup and things work fine for me:

[code]

`M-: (auth-source-search :host "smtp.host" :port "25" :user "username" :max 1 :require '(:user :secret) :create t) RET` gives me

[code]

I suggest trying that:

- update to latest version of auth-source-pass
- set `auth-source-do-cache` to nil
-

[2020-12-08 07:02] benneti commented on #110
Thanks, by now I looked through your config and also switched to msmtp where I can configure the pass command to my liking (which I prefer anyway because then I can use a non-standard folder hierarchy, too).
Still a bit puzzled why it did not work especially after manually trieing
`(auth-source-search :host "smtp.host" :port "25" :user "username" :max 1 :require '(:user :secret) :create t)`
which

[2020-12-08 07:02] #110 closed

[2020-12-21 17:29] guoweis opened #111 "Not getting right password from my .init; only after everything is initialized?"
Hi,

This is probably not a bug but just that i don't know how to use this package in my init/config.el file (I'm using doom emacs)

I'm using auth-source-pass to store my gcal credential with the following code in my config.el. However, the org-gal-client-secret with the snippet below ends up with something like `"\205\214p\344V@\377|\303\226#'\241SQq\322\311\231\353\215\211v\356\236\254wX

[2020-12-29 10:55] DamienCassou commented on #111
It feels like, at this point of your init file, Emacs is not yet setup to decrypt .gpg files yet. You could verify that by adding the following to your init file:

[code]

When Emacs is loaded, you should have the content of the gpg file inside `my/var`.

[2021-03-23 10:33] edgar-vincent opened #113 "[support] Port as arbitrary string ?"
Hello,

First of all, I'd like to thank you for all your incredible work.

I'm trying to install the [subsonic.el](https://git.sr.ht/~amk/subsonic.el) package. It identifies the host it connects to by the port it has defined in an `auth-source`, which, in this case, should be `subsonic`, with:
[code]

When I define a host in `~/.authinfo.gpg` with the `subsonic` port/service name, evaluating `(aut

[2021-03-23 12:23] DamienCassou commented on #113
I find it a bit weird to get the host by searching for all entries with port `subsonic`. That being said, I guess searching for an entry from just a port *is* actually part of the auth-source protocol so it should probably be implemented in auth-source-pass as well. Feel free to send a PR if you want to fix it.

Add this to your init.el for a possible workaround:

[code]

[2021-03-23 12:33] edgar-vincent commented on #113
I find it a bit weird too, but, as you say, if it works with `.authinfo`, it should probably also work with `auth-source-pass` too. I'm not a programmer but I'll have a look.

Thanks!

[2021-06-27 15:23] DamienCassou commented on #63
I'm closing this issue as I don't want to receive issues about this project anymore. They should be sent to emacs-core directly.

[2021-06-27 15:23] #63 closed

[2021-06-27 15:24] DamienCassou commented on #98
I'm closing this issue as I don't want to receive issues about this project anymore. They should be sent to emacs-core directly.

[2021-06-27 15:24] #98 closed

[2021-06-27 15:24] DamienCassou commented on #111
I'm closing this issue as I don't want to receive issues about this project anymore. They should be sent to emacs-core directly.

[2021-06-27 15:24] #111 closed

[2021-06-27 15:24] DamienCassou commented on #113
I'm closing this issue as I don't want to receive issues about this project anymore. They should be sent to emacs-core directly.

[2021-06-27 15:24] #113 closed